.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.topIndex, .topRegion { grid-area: 1 / 1 / 2 / 6; text-align: center; }
.leftIndex, .leftRegion { grid-area: 2 / 1 / 3 / 2; }
.centerIndex, .centerRegion { grid-area: 2 / 2 / 3 / 3; }
.rightIndex, rightRegion { grid-area: 2 / 3 / 3 / 4; }
.bottomIndex, .bottomRegion { grid-area: 3 / 1 / 4 / 4; text-align: center; }
img { width: 25%; height: auto }
* { font-family: 'Verdana' }
